.image{
    width: 70%;
    margin: 4px;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
    gap:10px;
    margin: 4px;
}
.price{
    font-size: larger;
    margin-top: auto;
}
.description{
    background-color: antiquewhite;
    width: 100%;
}

.my-custom-link{
    text-decoration: none;
    color: initial;
}

@media screen and (max-width:430px) {
    .Card{
        margin: 0;
        border: unset;
    }
}